<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_observationbiometric_path(@observationbiometric) %> 
|
<%= link_to 'View all observation biometrics', observationbiometrics_path %> | 
<a href='/treatments/<%= @observationbiometric.treatment_id %>'>Back</a> 

<p>
  <strong>Treatment:</strong>
  <%= @observationbiometric.treatment_id %>
</p>

<p>
  <strong>Day0tempf:</strong>
  <%= @observationbiometric.Day0TempF %>
</p>

<p>
  <strong>Day1tempf:</strong>
  <%= @observationbiometric.Day1TempF %>
</p>

<p>
  <strong>Day2tempf:</strong>
  <%= @observationbiometric.Day2TempF %>
</p>

<p>
  <strong>Day3tempf:</strong>
  <%= @observationbiometric.Day3TempF %>
</p>

<p>
  <strong>Day4tempf:</strong>
  <%= @observationbiometric.Day4TempF %>
</p>

<p>
  <strong>Day5tempf:</strong>
  <%= @observationbiometric.Day5TempF %>
</p>

<p>
  <strong>Week0whiteblood:</strong>
  <%= @observationbiometric.Week0WhiteBlood %>
</p>

<p>
  <strong>Week1whiteblood:</strong>
  <%= @observationbiometric.Week1WhiteBlood %>
</p>

<p>
  <strong>Week2whiteblood:</strong>
  <%= @observationbiometric.Week2WhiteBlood %>
</p>

<p>
  <strong>Week3whiteblood:</strong>
  <%= @observationbiometric.Week3WhiteBlood %>
</p>

<p>
  <strong>Week4whiteblood:</strong>
  <%= @observationbiometric.Week4WhiteBlood %>
</p>

<p>
  <strong>Week5whiteblood:</strong>
  <%= @observationbiometric.Week5WhiteBlood %>
</p>

<p>
  <strong>Week6whiteblood:</strong>
  <%= @observationbiometric.Week6WhiteBlood %>
</p>

<p>
  <strong>Week7whiteblood:</strong>
  <%= @observationbiometric.Week7WhiteBlood %>
</p>

<p>
  <strong>Week8whiteblood:</strong>
  <%= @observationbiometric.Week8WhiteBlood %>
</p>

<p>
  <strong>Week9whiteblood:</strong>
  <%= @observationbiometric.Week9WhiteBlood %>
</p>

<p>
  <strong>Week10whiteblood:</strong>
  <%= @observationbiometric.Week10WhiteBlood %>
</p>

<p>
  <strong>Week11whiteblood:</strong>
  <%= @observationbiometric.Week11WhiteBlood %>
</p>

<p>
  <strong>Week12whiteblood:</strong>
  <%= @observationbiometric.Week12WhiteBlood %>
</p>

<p>
  <strong>Week0lymphocytes:</strong>
  <%= @observationbiometric.Week0lymphocytes %>
</p>

<p>
  <strong>Week1lymphocytes:</strong>
  <%= @observationbiometric.Week1lymphocytes %>
</p>

<p>
  <strong>Week2lymphocytes:</strong>
  <%= @observationbiometric.Week2lymphocytes %>
</p>

<p>
  <strong>Week3lymphocytes:</strong>
  <%= @observationbiometric.Week3lymphocytes %>
</p>

<p>
  <strong>Week4lymphocytes:</strong>
  <%= @observationbiometric.Week4lymphocytes %>
</p>

<p>
  <strong>Week5lymphocytes:</strong>
  <%= @observationbiometric.Week5lymphocytes %>
</p>

<p>
  <strong>Week6lymphocytes:</strong>
  <%= @observationbiometric.Week6lymphocytes %>
</p>

<p>
  <strong>Week7lymphocytes:</strong>
  <%= @observationbiometric.Week7lymphocytes %>
</p>

<p>
  <strong>Week8lymphocytes:</strong>
  <%= @observationbiometric.Week8lymphocytes %>
</p>

<p>
  <strong>Week9lymphocytes:</strong>
  <%= @observationbiometric.Week9lymphocytes %>
</p>

<p>
  <strong>Week10lymphocytes:</strong>
  <%= @observationbiometric.Week10lymphocytes %>
</p>

<p>
  <strong>Week11lymphocytes:</strong>
  <%= @observationbiometric.Week11lymphocytes %>
</p>

<p>
  <strong>Week12lymphocytes:</strong>
  <%= @observationbiometric.Week12lymphocytes %>
</p>

<p>
  <strong>Week1pcv:</strong>
  <%= @observationbiometric.Week1PCV %>
</p>

<p>
  <strong>Week2pcv:</strong>
  <%= @observationbiometric.Week2PCV %>
</p>

<p>
  <strong>Week3pcv:</strong>
  <%= @observationbiometric.Week3PCV %>
</p>

<p>
  <strong>Week4pcv:</strong>
  <%= @observationbiometric.Week4PCV %>
</p>

<p>
  <strong>Week5pcv:</strong>
  <%= @observationbiometric.Week5PCV %>
</p>

<p>
  <strong>Week6pcv:</strong>
  <%= @observationbiometric.Week6PCV %>
</p>

<p>
  <strong>Week7pcv:</strong>
  <%= @observationbiometric.Week7PCV %>
</p>

<p>
  <strong>Week8pcv:</strong>
  <%= @observationbiometric.Week8PCV %>
</p>

<p>
  <strong>Week9pcv:</strong>
  <%= @observationbiometric.Week9PCV %>
</p>

<p>
  <strong>Week10pcv:</strong>
  <%= @observationbiometric.Week10PCV %>
</p>

<p>
  <strong>Week11pcv:</strong>
  <%= @observationbiometric.Week11PCV %>
</p>

<p>
  <strong>Week12pcv:</strong>
  <%= @observationbiometric.Week12PCV %>
</p>
